* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

nav {
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.323);
	padding: 30px 60px;
}

.navbar--logo-text {
	color: rgb(236, 102, 100);
	padding-left: 8px;
	margin: 0;
	font-weight: 900;
}

.navbar--logo {
	width: 40px;
}

.hero {
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.hero--photo {
	align-self: center;
	max-width: 60%;
}

.hero--heading {
	margin-block: 5px 5px;
	padding: 10px 30px;
	text-align: left;
	font-size: 50px;
}

.hero--text {
	width: 55vw;
	font-size: 20px;
	margin: 0;
	padding: 0px 30px;
}

.cards {
	color: grey;

	display: flex;
	justify-content: space-around;
	padding: 20px;
	padding-block: 50px;
}

.card--photo {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	margin: 5px;
	width: 28vw;
	max-height: 30vh;
	max-width: 220px;
}

.card--rating {
	display: flex;
}

.card--rating > div {
	padding-right: 5px;
}

.card--rating-stars {
	display: flex;
	align-items: center;
}

.card--rating-star-photo {
	width: 15px;
	margin-right: 5px;
}

.card--info {
	font-weight: 500;
	padding-block: 5px;
}

b {
	color: black;
}
